*.a filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
TrustKit.Xamarin.iOS/References/*/**/** filter=lfs diff=lfs merge=lfs -text
